.main{
  margin-top: 50px;
  .list{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .music{
      @include music-box;
      .img{
        height: 150px;
        margin: 20px 0;
        img{
          height: 100%;
        }
      }
      .title{
        color: white;
        margin-bottom: 10px;
        font-size: 20px;
      }
      .author{
        color: grey;
      }
      .year{
        color: white;
        margin-bottom: 20px;
      }
    }
  }
}
